body{
	width: 1890px;
	height: 1000px;
	margin: 0px auto;
        background:url(M.jpg);
        background-size:1890px,1000px;

	}
	
.div1{
	width: 475px;
	height: 600px;
        //background-color: red;
        background:url(div4.jpg);
        background-size:620px,700px;
	float: left;
	margin-top: 4px;
	}
	
.div2{
	width: 900px;
	height: 1000px;
	//background-color: green;
	margin-left: 2px;
	float: left;
	margin-top: 4px;
	}

.div3{
	width: 475px;
	height: 1000px;
	//background-color: yellow;
	margin-left: 2px;
	float: left;
	margin-top: 4px;
	}
.div4{
	width: 472px;
	height: 500px;
	//background-color: yellow;
	margin-left: 2px;
	float: left;
	margin-top: 4px;


	}
#special{
	position:relative; /*使用相对定位*/
	//left:40px;  /*在原来的位置的基础上，向右移动的大小（如果希望向左移动，则值就是负数）*/
	top:-500px; /*在原来的位置的基础上，向下移动的大小（如果希望向上移动，则值就是负数）*/
}

	
.top{
	width: 100%;
	height:132px;
	//background-color: pink;
	}

.top1{
	width: 475px;
	height:66px;
	float: left;
	background-color: yellow;
	}

.top2{
	width: 900px;
	height:66px;
	float: left;
	background-color: red;
	}

.top3{
	width: 485px;
	height:66px;
	float: left;
	background-color: blue;
	}

.top4{
	width: 0px;
	height:0px;
	}
a:link{
font-size:48px;
text-decoration:none;
}

a:hover{
color:black;
font-size:96px;
text-decoration:underline;
}

div ul li{
list-style-type:none;
}


